body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 12pt;
  font-family: monospace;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0; pagging: 0;
}

.pane {
    background-color: #d1d8e0;

    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: #a5b1c2;

    margin: 0px;
}

.box {
    left: 10px;
    margin : 10px;
    border: 1px solid grey;
}

.leftpane {
    width: 20%;
    height: 100%;
    float: left;

    margin: 5px 5px 5px 0px;
}

.middlepane {
    width: 39%;
    height: 100%;
    float: left;
    overflow: scroll;

    padding: 0px;
    padding-left: 5px;
    margin: 5px;
}

.rightpane {
  width: 38%;
  height: 100%;
  position: relative;
  float: right;

  margin: 5px 0px 5px 5px;
}

.toppane {
  width: 100%;
  height: 100px;

  margin-bottom: 5px;
}

.toppane ul {
    list-style-type:none;
    display: inline-block;
}

.toppane div {
    display: inline-block;
}


/* Trace styling */
.node {

}
.interactive:hover {
    background-color: #CCC;
}
.collapsed {
    cursor:      pointer;
    color:       grey;
    font-weight: bold;
}
.expanded {
    cursor:      pointer;
    /* color:       grey; */
}
.fixed {
    color: black;
}

.shown {
    display: inline;
}
.hidden {
    display: none;
}

ul .pathConstraint{
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-left: 1.2em;
}
ul .pathConstraint li:before {
	content: "∧";
	position: absolute;
	left: 0;
}

button {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

button:hover {
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
}

.exampleButton {
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.exampleButton:hover {
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
}
.activeExample {
	position:relative;
	background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
	background-color:#b8e356;
	top:1px;
}

.initState {
    padding-bottom: 10px;
}

.initState input {
    width: 5em;
}

.initState button {
        width: 75%;
        margin-top: 10px;
}

.SMTWidget {

}
