body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    font-size: 12pt;
    font-family: monospace;
    box-sizing: border-box;
}

body {
}

.pane {
    background-color: #d1d8e0;

    border-style: solid;
    border-width: 3px;
    border-radius: 3px;
    border-color: #a5b1c2;

    padding: 0px;
    margin: 0px;
}

.pane h3 {
    margin:0px;
}

.box {
    left: 10px;
    padding : 10px;
    border: 1px solid grey;
}

$grid-gap: 10px;
$header-height: 140px;

.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
        "header header header"
        "leftpane middlepane rightpane";
    gap: $grid-gap;
}

.toppane {
    grid-area: header;
    height: $header-height;
    position: sticky;
    top: 0;
    z-index: 1;
}

.toppane-contents {
    display: flex;
}

.toppane ul {
    list-style-type:none;
}

.leftpane {
    grid-area: leftpane;
    align-self: start;
    position: sticky;
    top: $header-height + $grid-gap + 6;
    z-index: 1;
}

.middlepane {
    grid-area: middlepane;
    // position: absolute;
    // width: 90%;
    // top: 200px;
    z-index: 0;
}

.rightpane {
    grid-area: rightpane;
    align-self: start;
    position: sticky;
    top: $header-height + $grid-gap + 6;
    z-index: 1;
}

.widget {
    margin: 5px;
    padding: 5px;
    height: 80%;
    width: 200px;
    border: 1px solid grey;
}

.widget h4 {
    margin: 0px;
}

.widget button {
    margin-top: 5px;
    width: 100%;
}



ul .pathConstraint{
    position: relative;
    list-style: none;
    margin-left: 0;
    padding-left: 1.2em;
}
ul .pathConstraint li:before {
    content: "∧";
    position: absolute;
    left: 0;
}

button {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

button:hover {
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color:#b8e356;
}


.examplesWidget ul {
    padding-left: 0;
}

.examplesWidget ul li {
    margin-bottom: 20px;
}

.examples {
    display: flex;
    flex-wrap: wrap;
}

.exampleButton {
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
    background-color:#ededed;
    border-radius:6px;
    border:1px solid #dcdcdc;
    cursor:pointer;
    color:#777777;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
}

.exampleButton:hover {
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color:#b8e356;
}
.activeExample {
    position:relative;
    background:linear-gradient(to bottom, #b8e356 5%, #a5cc52 100%);
    background-color:#b8e356;
    top:1px;
}

.initState {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto;
    /* gap: 10px; */
    /* grid-template-areas: */
    /*     "key eq val" */
}

.initKey {

    /* grid-area : key; */
}

.initEq {
    /* grid-area : eq; */
    text-align: center;
}

.initVal {
    /* grid-area : val; */
}



/* .initState { */
/*     padding-bottom: 10px; */
/* } */

/* .initState input { */
/*     width: 5em; */
/* } */

/* .initState button { */
/*         width: 75%; */
/*         margin-top: 10px; */
/* } */

.SMTWidget label {
    font-size: 10pt;
}

.symExecWidget input {
    width: 4em;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/* Close button*/
.close {
    opacity: 0.3;
    margin: 0;
    margin-left: 10px;
    margin-right: 10px;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #c23616;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

/* Trace tree */
$border-width: 1px;
$tree-width: .1em;

.tree ul {
    position: relative;
    padding: 1em 0;
    white-space: nowrap;
    margin: 0 auto;
    text-align: center;
    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.tree li {
    display: inline-block; // need white-space fix
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    // controls tree width
    padding: 1em $tree-width 0 $tree-width;

    &::before,
    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 50%;
        border-top: $border-width solid #000;
        width: 50%;
        height: 1em;
    }
    &::after {
        right: auto;
        left: 50%;
        border-left: $border-width solid #000;
    }
    &:only-child::after,
    &:only-child::before {
        display: none;
    }
    &:only-child {
        padding-top: 0;
    }
    &:first-child::before,
    &:last-child::after {
        border: 0 none;
    }
    &:last-child::before{
        border-right: $border-width solid #000;
        border-radius: 0 5px 0 0;
    }
    &:first-child::after{
        border-radius: 5px 0 0 0;
    }
}

// the vertical line descending from parent to a single child
.tree ul ul::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: $border-width solid #000;
    width: 0;
    height: 1em;
}

// display nodes as rounded squares
.tree li a {
    border: $border-width solid #000;
    padding: .25em .35em;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    color: #333;
    position: relative;
    top: $border-width;
}

// Highlight nodes on hover
.tree li a:hover {
    background: #e9453f;
    color: #fff;
    border: $border-width solid #e9453f;
}

/* Trace styling */
.node {
    color:       grey;
}

.reachable {
    color: black;
}
.shown {
    display: inline;
}
.hidden {
    display: none;
}
